.clip-resource-pool-container {
  width: 100%;
  height: 100%;
  display: flex;
  .clip-resource-pool-fill-line {
    width: 8px;
    height: 100%;
    background-color: #141415;
  }
  .clip-resource-pool-content-container {
    width: 100%;
  }
}
