.clip-resource-pool-container {
  width: 100%;
  height: 100%;
  display: flex;
  .clip-resource-pool-sidebar-container {
    width: 86px;
  }
  .clip-resource-pool-fill-container {
    width: 8px;
    height: 100%;
    background-color: #141415;
  }
  .clip-resource-pool-content-container {
    flex: 1;
    .clip-resource-pool-content-list {
      width: 100%;
      height: calc(100% - 48px);
    }
  }
}
